* {
  margin: 0px;
  padding: 0px;
  font-family: 'Prata', serif;
}

/* Estilos del encabezado */
header{
  width: 100%;
}

h1 {
  color: white;
  background-color: #80caf8;
  box-sizing: border-box;
  letter-spacing: 5px;
  padding: 15px 5px 15px;
  text-align: center;
}

div {
  margin-top: 10px;
  margin-bottom: 50px;
}

/* Estilos de la seccion */
section {
  background-image: url(../assets/img/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  height: 870px;
}

/* Estilos al bloque de Reto de codigo (izquierda) y al bloque "tweet" (derecha) */

.block-left {
  background-color: #ebccce;
  height: 250px;
  width: 42%;
  margin-left: 100px;
  float: left;
  box-sizing: border-box;
  padding-left: 30px;
  position: static;
}

.block-left p img {
  width: 25px;
  height: 25px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 24px;
  padding-left: 30px;
}

p {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  padding-left: 30px;
}

hr {
  background-color: #edf3f7;
  height: 3px;
  border: none;
  margin-right: 20px;
}

span {
  color: #b13667;
  font-weight: 900;
  display: block;
  margin: 30px 0px;
  font-size: 16px;
  padding-left: 30px;
}

.block-right {
  background-color: #ebccce;
  box-sizing: border-box;
  height: 200px;
  margin-right: 70px;
  margin-left: 10px;
  float: right;
  padding: 10px;
  width: 44%;
  position: static;
  margin-top: 30px;
}

button {
  height: 40px;
  width: 120px;
  color: #aaa;
  font-size: 14px;
  font-weight: 900;
  border: none;
  margin-top: 20px;
  display: inline-block;
}

textarea {
  background-color: #ebccce;
  width: 100%;
  height: 80px;
  border: none;
  font-size: 16px;
  outline: none;
  overflow: hidden; /*Esto le Quita el scroll al textarea */
  resize: none;
}

.textarea-big {
  height: 160px;
}

.block-right hr{
  background-color: #acd;
  height: 3px;
  margin-top: 20px;
}

#container {
  display: block;
  overflow: auto;
  width: 90%;
  background-color: transparent;
  margin: 0px 100px;
  box-sizing: border-box;
  height: auto;
}

.styleBox {
  background-color: #ebccce;
  width: auto;
  height: 100px;
  text-decoration: none;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  margin-bottom: 20px;
  overflow: hidden;
}

.styleLetter {
  text-decoration: none;
  margin: 0;
  padding: 5px 0;
  letter-spacing: 2px;
}

.buttonColor {
  background-color: #7df;
  color: white;
}

.block-right p {
  display: inline-block;
  width: 50px;
  margin-left: 390px;
  margin-right: 0;
  box-sizing: border-box;
}

.original {
  color: #b13667;
  font-weight: 700;
}

.green {
  color: green;
}

.red {
  color: red;
}

.black {
  color: black;
}
